@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
  font-family: "Open Sans", sans-serif;
  --color-1: #fde68a;
  --color-2: #fffbeb;
  --color-3 : #fcd34d;
  --color-4:#fef9c3;
  --color-5:#ef4444;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-size: 2rem;
}
.main {
  background-color: var(--color-2);
  height:950px;
}

.open {
  background-color: rgba(0 0 0 / 0.5);
  position: relative;
  z-index: 88;
}
label{
  font-size: 1.2rem;
  font-weight: bold;
}
#player__one, #player__two{
      background-color: var(--color-2);
        border-radius: 5px;
        height: 40px;
        width: 200px;
        font-size: 1.5rem;
        margin-top: 5px;
        border: none;
        outline: none;
        padding: 10px;
}

.select__playerOne, .select__playerTwo{
    width: 200px;
    text-align: center;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--color-3);
   background-color: var(--color-4);
   outline: none;
   cursor: pointer;
   appearance: none;
  }

.optn__playerOne, .optn__playerTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#player__options{
  display: flex;
  gap: 15px;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
 background-color:var(--color-3) ;
 padding: 15px;
 box-shadow: 2px 1px 4px #c3c3c3;
}

#ready{
    background-color: var(--color-4);
    width: 200px;
    height:2rem ;
    border-radius:2px ;
    border: none;
    margin-top:10px ;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s   ease all;
    position: relative; 
    overflow: hidden;
}
#ready::after{
  content: "";
  width:200px;
  height:32px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(-100% -  0.5rem) ;
  border-bottom: 2rem solid var(--color-5);
  border-right: 2rem solid transparent;
  transition: .4s ease-in-out all;
}
span{
  position: relative;
  z-index: 2;
  font-weight: bold;
}
#ready:hover::after{
  left: 0;
  width: 250px;

}

#replay{
  width: 200px;
  height: 56px;
  border-radius: 2px;
  border: none;
  background: var(--color-1);
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#replay::after{
  content: "";
  top: 0;
  left:-100%;
  position: absolute;
  height: 56px;
  width: 100%;
  border-bottom: 56px solid var(--color-5);
  border-right:2rem solid transparent ;
  transition: .4s ease-in-out all;
}

#replay:hover::after{
  left: 0;
  width: 250px;
}

.btns > button {
  width: 200px;
  height: 45px;
  font-size: 2rem;
  background: var(--color-3);
  transition: transform 0.4s;
  border: none;
  border-radius: 12px;
}
.btns > button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.game__board {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3,150px);
  justify-content: center;
  
}
.game__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}


.winner {
  padding: 10px;
  transition: font .4s ease;
  font-size: 2rem;
}
.actual{
  font-weight: 600;
  font-size: 1rem;
}

.cell {
  width: 150px;
  height: 150px;
  background: transparent;
  border:none;
}

.cell-1,.cell-2,.cell-4,.cell-5{
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}
.cell-3,.cell-6{
  border-bottom: 5px solid black;
}
.cell-7,.cell-8{
  border-right: 5px solid black;
}

 .cell:disabled {
  appearance: none;
  color: #000;
  font-size: 6rem;
  text-shadow: 2px 2px 5px #353535;
} 
.cell:hover {
  cursor: pointer;
} 
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
  background-color: var(--color-2);
  width: 100%;
  height: 65px;
}

footer > p {
  font-weight: 800;
}
